@import "./variables";

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 360px 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "left-sidebar message-body";
}

.left-sidebar {
    grid-area: left-sidebar;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 60px 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "chat-tollbar"
        "search"
        "recent-list";

    .chat-tollbar {
        grid-area: chat-tollbar;
        display: flex;
        justify-content: space-between;
        margin: 1rem;

        .left-chat-tollbar {
            display: flex;

            h1 {
                margin: 5px;
            }
            img {
                width: 50px;
                height: 50px;
                border-radius: 1.5rem;
            }
        }

        .right-chat-tollbar {
            ul {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    margin: 5px;
                    cursor: pointer;
                    font-weight: bold;
                    font-size: 2rem;
                }
            }
        }
    }

    .search {
        grid-area: search;
        margin: 10px;
        input {
            width: 100%;
            height: 100%;
            font-size: 1rem;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
            background-color: $text-background-color;
            background-repeat: no-repeat;
            background-size: 25px;
            background-position: 0 center;
            outline: 0;
            border-radius: 1rem;
            border: 1px solid transparent;

            &::placeholder {
                padding-left: 27px;
            }

            &:focus {
                border-radius: 1.5rem;
                outline: 0;
                background-image: none;

                &::placeholder {
                    padding-left: 0;
                }
            }
        }
    }

    .recent-list {
        grid-area: recent-list;
        overflow: auto;
        box-shadow:inset 0 0 4px rgba(0, 0, 0, 0.2);

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar {
            width: .4rem;
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: $text-background-color;
        }

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;

            li {
                flex: 1;
                display: flex;
                justify-content: start;
                border-radius: 0.7rem;
                margin: 2px;
                padding: 10px;

                &:hover {
                    cursor: pointer;
                    background-color: $text-background-color;
                }

                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 1.7rem;
                }

                .message-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 8px;

                    .user-name {
                        font-weight: bold;
                    }

                    .user-info {
                        display: flex;
                        flex-direction: row;
                        justify-content: start;

                        span {
                            margin: 2px;
                        }
                    }
                }
            }
        }
    }
}

.message-body {
    grid-area: message-body;
    height: 100vh;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "message-container message-user-profile";

    .message-user-profile {
        background-color: blueviolet;
        grid-area: message-user-profile;
    }
    .message-container {
        grid-area: message-container;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 1fr 50px;
        gap: 0px 0px;
        grid-template-areas:
            "message-header"
            "message-conversation-body"
            "message-toolbar";

        .message-header {
            box-sizing: border-box;
            grid-area: message-header;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 2px;
            padding: 5px;

            .user {
                display: flex;
                flex-direction: row;

                img {
                    width: 50px;
                    border-radius: 1.5rem;
                    height: 50px;
                }

                .user-info {
                    padding: 3px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .name {
                        font-weight: bold;
                        font-size: 1.1rem;
                    }
                    .status {
                        font-size: 0.7rem;
                    }
                }
            }

            .message-action-menu {
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    height: 100%;
                    vertical-align: middle;
                    li {
                        margin: 3px;
                        padding: 5px;
                    }
                }
            }
        }
        .message-toolbar {
            background-color: springgreen;
            grid-area: message-toolbar;
        }
        .message-conversation-body {
            box-shadow:inset 0 0 4px rgba(0, 0, 0, 0.2);
            grid-area: message-conversation-body;
        }
    }
}

@media only screen and (min-width: 300px) and (max-width: 900px) {
    .grid-container {
        grid-template-columns: 84px 1fr;
    }

    .left-sidebar {
        grid-template-rows: 60px 1fr;
        grid-template-areas:
            "search"
            "recent-list";

            .chat-tollbar{
                display: none;
            }
    }

    .message-info {
        display: none !important;
    }
}
